body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
	text-align: center;
}

header {
    background-color: #0044cc;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

header .logo img {
    width: 100px;
}

nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 2rem;
}

main section {
    margin-bottom: 2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    border-radius:10px;
    width: 100%;
    bottom: 0;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links a {
    margin: 0 1rem;
    color: #0044cc;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}
i {
 font-size: 14px;
}
.staff  {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #e0e0e0;
  border-left: 5px solid #0077be;
  border-top: 2px solid red;
  text-align: left;
}
k     {
  font-style: italic;
}
 