
header {
    background-color: #0044cc;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

header .logo img {
    width: 100px;
}

nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 2rem;
}

main section {
    margin-bottom: 2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    border-radius:10px;
    width: 100%;
    bottom: 0;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, purple, pink);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.mySlides {
    display: none;
    position: relative;
}

.mySlides img {
    width: 100%;
    border-radius: 10px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.watermark {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
}

 